#Cube {
    position: absolute;
    width: 1280px;
    height: 720px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.VideoPage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/* 立方体式向左旋转 */
.rotateCubeLeftOut {
    transform-origin: 100% 50%;
    animation: rotateCubeLeftOut 1s both ease-in;
}
.rotateCubeLeftIn {
    transform-origin: 0% 50%;
    animation: rotateCubeLeftIn 1s both ease-in;
}
@keyframes rotateCubeLeftOut {
    50% { animation-timing-function: ease-out; transform: translateX(-50%) rotateY(-45deg); }
    100% { transform: translateX(-100%) rotateY(-90deg); }
}
@keyframes rotateCubeLeftIn {
    0% { transform: translateX(100%) rotateY(90deg); }
    50% { animation-timing-function: ease-out; transform: translateX(50%) rotateY(45deg); }
}

/* 立方体式向下旋转 */
.rotateCubeDownOut {
    transform-origin: 50% 0%;
    animation: rotateCubeDownOut 1s both ease-in;
}
.rotateCubeDownIn {
    transform-origin: 50% 100%;
    animation: rotateCubeDownIn 1s both ease-in;
}
@keyframes rotateCubeDownOut {
    50% { animation-timing-function: ease-out; transform: translateY(50%) rotateX(-45deg); }
    100% { transform: translateY(100%) rotateX(-90deg); }
}
@keyframes rotateCubeDownIn {
    0% { transform: translateY(-100%) rotateX(90deg); }
    50% { animation-timing-function: ease-out; transform: translateY(-50%) rotateX(45deg); }
}